.aboutContainer{
  margin-top: 8vh;
  /* top: 0; */
  margin: auto;
  height: 90vh;
  width:100%;


}

.aboutCard1{
  border: 2px solid red;
  border-radius: .5rem;
  width: 60vw;
  height: 60vh;
 margin-top: 25vh;
 display:flex;
 flex-direction: column;
  /* margin-left: -30vw; */
  /* padding: 2rem; */
  /* border: 2px red solid; */

}


.header{
  font-size: 2rem;
  text-align: center;
  /* margin: 6vw; */
  color: black;
}

.aboutText>p{
  color: black;
  margin: 3vw;
  font-size: 1.2rem;
}
