/* @import url('') */
@font-face{
  font-family: 'Montserrat-Thin';
  src: local('Montserrat-Thin'), url('../fonts/Montserrat-Thin.ttf') format('truetype');

}

@font-face{

  font-family: 'Femen';
  src: local('Femen'), url('../fonts/Femen.otf') format('opentype')

}


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat-Thin';
  color: white;
}

html, body{
  min-height: 100%;
}

body {
  z-index: -1;
  background: radial-gradient(at top left, #845EC2 0%, #D65DB1 50%, #F9F871 100%);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
};

.layout{
  max-width: 100%;
  margin: 0 auto;
}

nav{
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: cornflowerblue; */
  overflow: hidden;
  z-index: 100;

}

nav .links{
  display: inline-block;
  text-align: right;
  margin: 1vw;
  font-size: 1em;
}

nav a{
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

nav a:hover{
  border-color: white;
}

footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}
/* intro */

content{

}
