/* @import url('') */
@font-face{
  font-family: 'Montserrat-Thin';
  src: local('Montserrat-Thin'), url('../fonts/Montserrat-Thin.ttf') format('truetype');

}

@font-face{
  font-family: 'ProductSans-Regular';
  src: local('ProductSans-Regular'), url('../fonts/ProductSans-Regular.ttf') format('truetype');

}


/* @font-face{

  font-family: 'Femen';
  src: local('Femen'), url('../fonts/Femen.otf') format('opentype')

} */


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'ProductSans-Regular';
  color: rgb(29, 29, 29);
}

html, body{
  min-height: 100%;
}

body {
  /* /* z-index: -1; */
/* background: radial-gradient(at top left, #845EC2 0%, #D65DB1 80%, #F9F871 20%);
  background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
};

.layout{
  max-width: 100%;
  margin: 0 auto;
}

nav{
  display: grid;
  grid-template-columns: 1fr ;
  overflow: hidden;
  z-index: 100;
  background: white;
  position: 'sticky';
  top: 0;
  width: '100%';
  /* border: 2px red solid; */

}


.navbar.active{
  background: linear-gradient(90deg, rgb(66, 2, 194) 0%, rgb(0,78,194) 100%)
}

nav .links{
  display: inline-block;
  text-align: right;
   margin-right: 4vw;
  font-size: 1em;
  margin-top: 1.5vh;
  /* border: 2px solid red; */

}

nav a{
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

nav a:hover{
  border-color: #634EFF;
}

footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}
/* intro */

content{

}
